.image{
    margin: 80px;
}
.image__grid{
    display: grid;
    grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
    grid-template-areas: 
    "title artist"
    "image text"
    "button .";
    max-width: 984px;
    margin: 0 auto;
    gap: 0 40px;
}
.image__title{
    grid-area: title;
    max-width: 460px;
    margin: 0;
    padding-bottom: 48px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    align-self: end;
}
.image__artist{
    grid-area: artist;
    align-self: end;
}
.image__artist-title{
    margin: 0;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #aaa;
}
.image__artist-name{
    margin: 8px 0 0;
    font-size: 18px;
    line-height: 1.22;
}
.image__artist-name:last-child{
    padding-bottom: 48px;
}
.image__content{
    grid-area: image;
    position: relative;
    width: 100%;
    aspect-ratio: 1.33;
    margin: 0;
    align-self: start;
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}
.image__content-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
    position: relative;
}
.image__content-image:hover{
    cursor: pointer;
    opacity: 0.7;
}
.image__text-content{
    grid-area: text;
    align-self: start;
    max-width: 460px;
}
.image__text{
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 1.4;
}
.image__text:last-child{
    margin-bottom: 0;
}
.image__link{
    grid-area: button;
    width: 289px;
    height: 48px;
    margin-top: 48px;
    padding: 0;
    border-radius: 4px;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    justify-self: start;
    transition: background 0.3s ease;
}
.image__link:hover{
    background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%);
}
.image__container{
    background: #2a2c2f;
    color: #fff;
    max-width: 984px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 92px 24px 80px;
    display: grid;
    gap: 80px;
}
@media screen and (max-width:1024px) {
    .image__container{
        padding: 88px 24px 80px;
    }
    .image__grid{
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
        grid-auto-rows: auto auto auto;
        grid-template-areas: 
        "title artist"
        "image text"
        "image text"
        "button text";
        gap: 40px;
        max-width: 928px;
        align-items: start;
    }
    .image__title{
        grid-area: title;
        max-width: 380px;
        padding-bottom: 20px;
        font-size: 50px;
        line-height: 42px;
    }
    .image__artist-name{
        grid-area: artist;
        font-size: 16px;
        line-height: 20px;
    }
    .image__artist-title{
        font-size: 10px;
        line-height: 14px;
    }
    .image__artist-name:last-child{
        padding-bottom: 20px;
    }
    .image__text-content{
        grid-area: text;
        max-width: 380px;
    }
    .image__text{
        margin: 0 0 12px;
        font-size: 14px;
        line-height: 1.4;
    }
    .image__link{
        grid-area: button;
        margin-top: 0;
        align-self: start;
    }
}
@media screen and (max-width:540px) {
    .image__container{
        padding: 64px 16px;
    }
    .image__grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "artist"
        "image"
        "text"
        "button";
        gap: 12px;
        max-width: 340px;
        margin:0 auto;
    }
    .image__title{
        padding-bottom: 16px;
        font-size: 42px;
        line-height: 46px;
    }
    .image__text-content{
        max-width: 100%;
        margin-top: 30px;
    }
    .image__text{
        font-size: 14px;
        line-height: 1.25;
    }
    .image__link{
        width: 100%;
        margin-top: 30px;
    }
}
@media screen and (max-width: 320px){
    .image__container{
        padding: 62px 16px;
    }
    .image__grid{
        max-width: 288px;
        margin: 0 auto;
    }
    .image{
        margin: 0 0 32px 0;
    }
    .image__title{
        font-size:32px;
        line-height: 36px;
        text-align: center;
        margin-top: 40px;
    }
    .image__text{
        font-size:14px;
        line-height: 1.25;
        text-emphasis: none;
    }
}